@mixin card {
    background-color: $white;
    border-radius: $card-radius;
    padding: 30px;
}

@mixin border($color:#E4E4E4) {
    border: 1px solid $color !important;
}

@mixin button-primary {
    height: 38px;
    background-color: $primary;
    color: $white;
    border: 0;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: $font-lg;
    &:hover {
        background-color: $primary-hover;
    }
    &:active {
        box-shadow: none !important;
    }
    &:active:focus {
        box-shadow: none !important;
    }
    &:focus {
        box-shadow: none !important;
        background-color:  $primary;
    }
    &:focus:hover {
        background-color:  $primary-hover;
    }
    @media screen and (max-width: 767px) {
        font-size: $font-base !important;
        padding: 5px 20px;
    }
    @media screen and (max-width: 380px) {
        padding: 5px 15px;
    }
}

@mixin scrollbar {
    
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        background:#f6f6f6; 
        border-radius: 6px;
        width: 8px;
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #b9b9b9; 
        border-radius: 6px;
        width: 8px;
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8; 
      }
}