@import '../../styles/App.scss';



section {
    margin: 64px 0;
}

.select_block {
    .btn {
        background-color: $white !important;
        @include border;
        background-color: $white;
        color: $font-color !important;
        min-width: 160px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 17px 19px;
        border-radius: 6px;
        &::after {
            display: none;
        }
        &:hover,
        &:active, &:focus,
        &:focus:hover  {
            background-color: transparent;
            @include border;
            background-color: $white;
        }
        @media screen and (max-width: 767px) {
            padding: 10px;
            // height: 40px;
            font-size: $font-base;
        }
    }
    .dropdown-item {
        &:active {
            background-color: $primary;
            color: $white;
        }
        @media screen and (max-width: 767px) {
            font-size: $font-base;
        }
    }

}

